/* static/css/style.css */
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #1f3491;
  color: #ffffff;
}
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;

}
nav {
    border-bottom: 3px solid #ffffff; /* cor azul bootstrap */
}
.btn-custom{
  color: #b3e4fa;
}
.card-body{
  color: black;
}
.list-group-item{
  background-color: #1f3491;
}
 .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: none;
            border-radius: 10px;
            color: black;
        }

        .card:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        }
.perfil-foto:hover{
   transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}